/* Logo style next to main search bar */
#umddiscoverLogoContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 56px;

  padding-right: 16px;
}

#umddiscoverLogoContainer a {
  height: 56px;
  padding-bottom: 0px;
}

#umddiscoverLogoContainer a:hover,
#umddiscoverLogoContainer a:focus {
  box-shadow: none;
}

#umddiscoverLogo .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#umddiscoverLogoContainer #umddiscoverLogo .visually-hidden {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

#umddiscoverLogo .logo {
  display: inline-block;
  width: 145px;
  height: 56px;

  /* update the background-image for your institution's search tool logo */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='572' height='221' viewBox='0 0 572 221' fill='none'%3E%3Cpath d='M534.959 220.3H0.949219L37.0392 0.0102539H571.049L534.959 220.3Z' fill='%23E21E34'/%3E%3Cpath d='M102.269 76.5804C102.269 89.2604 96.1294 96.1804 84.8694 96.1804C73.6794 96.1804 67.8594 88.9404 67.8594 76.4504V50.1904H74.6494V76.2604C74.6494 84.8004 78.2094 89.3904 84.9994 89.3904C92.1094 89.3904 95.4794 84.9904 95.4794 76.7104V50.1904H102.269V76.5804Z' fill='white'/%3E%3Cpath d='M153.599 95.4704H146.939V71.5404C146.939 68.8304 147.009 64.8804 147.069 63.5804C146.549 64.8704 145.259 68.1104 144.159 70.7004L133.169 96.1904L122.289 70.7004C121.189 68.1104 119.889 64.8804 119.379 63.5804C119.449 64.8704 119.509 68.8204 119.509 71.5404V95.4804H113.109V50.1904H120.099L130.259 74.3204C131.359 76.9104 132.779 80.2104 133.359 82.0804C134.009 80.2004 135.299 76.9704 136.399 74.3204L146.359 50.1904H153.599V95.4704Z' fill='white'/%3E%3Cpath d='M199.169 72.8304C199.169 88.8104 188.949 95.4704 177.119 95.4704H164.769V50.1904H177.119C189.279 50.1904 199.169 56.8504 199.169 72.8304ZM192.249 72.8304C192.249 63.3204 187.849 56.7904 177.119 56.7904H171.549V88.8804H177.119C187.849 88.8804 192.249 82.3404 192.249 72.8304Z' fill='white'/%3E%3Cpath d='M110.571 149.22C110.571 173.04 98.8012 181.28 76.3412 181.28H55.7812V117.88H77.9713C97.8913 117.89 110.571 125.41 110.571 149.22ZM92.5513 149.5C92.5513 137.81 88.8412 132.93 77.8812 132.93H73.5413V166.25H77.3412C88.2912 166.25 92.5513 162.09 92.5513 149.5Z' fill='white'/%3E%3Cpath d='M136.821 181.28H118.891V117.88H136.821V181.28Z' fill='white'/%3E%3Cpath d='M197.861 161.81C197.861 176.3 186.901 182.28 171.691 182.28C161.461 182.28 151.581 178.93 144.971 174.58L153.481 160.81C158.101 163.98 166.161 167.15 172.051 167.15C178.301 167.15 180.291 166.06 180.291 163.07C180.291 160.72 178.031 159.27 169.511 157.27C154.211 153.74 146.871 149.58 146.871 136.89C146.871 124.94 156.561 116.88 171.861 116.88C182.641 116.88 190.431 119.51 197.131 124.22L188.621 138C183.001 134.19 177.391 132.02 170.961 132.02C165.711 132.02 164.441 133.65 164.441 135.91C164.441 138.26 166.701 139.35 174.851 141.25C190.801 145.06 197.861 149.95 197.861 161.81Z' fill='white'/%3E%3Cpath d='M258.341 165.89C254.081 174.23 247.021 182.29 231.991 182.29C213.151 182.29 203.101 168.34 203.101 149.6C203.101 129.22 215.051 116.9 232.081 116.9C247.651 116.9 253.811 123.61 258.161 135.56L242.221 141.81C239.961 135.93 237.781 132.21 231.991 132.21C224.651 132.21 221.481 139.54 221.481 149.6C221.481 159.29 224.561 166.99 232.171 166.99C237.701 166.99 240.051 164 243.491 158.02L258.341 165.89Z' fill='white'/%3E%3Cpath d='M319.011 149.5C319.011 170.6 306.781 182.29 289.571 182.29C272.361 182.29 260.321 170.79 260.321 149.68C260.321 128.57 272.541 116.89 289.751 116.89C306.971 116.89 319.011 128.4 319.011 149.5ZM300.811 149.68C300.811 138.27 296.641 132.2 289.581 132.2C282.521 132.2 278.531 138.08 278.531 149.5C278.531 160.91 282.701 166.98 289.761 166.98C296.821 166.98 300.811 161.09 300.811 149.68Z' fill='white'/%3E%3Cpath d='M379.861 117.89L358.031 181.29H340.281L318.461 117.89H338.201L342.821 134.92C344.991 142.8 348.071 155.66 349.251 161.73C350.431 155.66 353.511 142.89 355.681 134.92L360.301 117.89H379.861Z' fill='white'/%3E%3Cpath d='M435.371 181.28H386.191V117.88H434.731V132.64H403.581V141.06H422.321V155.64H403.581V166.51H435.371V181.28Z' fill='white'/%3E%3Cpath d='M498.211 181.28H478.561L468.231 159.91H461.171V181.28H443.871V117.88H472.211C487.061 117.88 496.941 123.5 496.941 138.53C496.941 148.04 492.501 153.92 485.531 157.09L498.211 181.28ZM479.461 138.99C479.461 135.01 477.291 132.2 471.761 132.2H461.171V146.05H471.501C477.201 146.05 479.461 143.52 479.461 138.99Z' fill='white'/%3E%3C/svg%3E");
  background-size: 145px 56px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position-x: right;
}

@media (max-width: 1919px) {
  .__lgPlus prm-search-bar .search-wrapper.layout-row > div[flex]:first-of-type,
  .__lgPlus prm-search-bar .search-wrapper > div[flex]:first-of-type {
    margin-right: 0px;
  }
}

@media (max-width: 1279px) {
  #umddiscoverLogoContainer {
    justify-content: start;

    padding-right: 0px;
    padding-bottom: 24px;
  }
}

@media (max-width: 958px) {
  #umddiscoverLogoContainer {
    padding-bottom: 14px;
  }
}

@media (max-width: 598px) {
  #umddiscoverLogoContainer {
    margin: 16px 0px;
    padding: 0px 16px;
  }
}
